body {
	min-width: 500px;
}

.header {
	font-size: 1.5em;
	font-weight: bold;
}
.section {
	margin-bottom: 0.5em;
}
.section .buttons {
	display: flex;
}
.section .buttons button{
	margin-right:0.7em;
}
.section textarea {
	width: 100%;
}

#current_page {
	font-style: italic;
}

#all_units {
    display: flex;
}

#all_units > .unit {
    text-align: center;
    padding: 0.7em;
}